h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #E2E8F0;
}

body{
    background-color: #020617;
}
#tituloderechos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E2E8F0;
}
.estiloespecial{
    color: #E2E8F0;
    font-size: 30px;
    text-decoration: dotted underline;
}
header{
    background-color: #0F172A;
    margin: 20px;
    padding: 20px;
    border: 3px solid #38BDF8;
    border-radius: 30px;
}
footer{
    background-color: #0F172A;
    margin: 20px;
    padding: 20px;
    border: 3px solid #38BDF8;
    border-radius: 30px;
}
#programar{
    margin: 20px;
    border: 5px solid #38BDF8;
    width: 350px;
    height: auto;
}
#infografia{
    margin:20px;
    border: 5px solid #38BDF8;
    width: 350px;
    height: auto;
}
.boton{
width: 134px;
height: 37px;
border: 2px solid white;
border-radius: 30px;
background: #38BDF8;
margin: 20px;
list-style: none;
text-align: center;
}
.boton a{
    color: white;
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#fotoprincipal{
    width: 50%;
    height: auto;
}
.contenedor{
    background-color: #1E3A8A;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.contenedor2{
    background-color: #1E3A8A ;
    width: 70%;
    flex-wrap: wrap;
}
#musica{
    margin: 20px;
    border: 5px solid #38BDF8;
    width: 350px;
    height: auto;
}
#tecnologia{
    margin: 20px;
    border: 5px solid #38BDF8;
    width: 350px;
    height: auto;
}
#viajar{
    margin: 20px;
    border: 5px solid #38BDF8;
    width: 350px;
    height: auto;
}

#mail{
    color: #E2E8F0;
}
